.container {
    margin-top: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    -webkit-box-shadow: -7px 7px 26px 0px rgba(150,150,150,1);
    -moz-box-shadow: -7px 7px 26px 0px rgba(150,150,150,1);
    box-shadow: -7px 7px 26px 0px rgba(150,150,150,1);
  }
  
  
  .container_login {
    margin-top: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
  }
    .title {
      font-family: "Oswald", sans-serif;
      margin: 20px;
      font-size: 30px;
      font-weight: bold;
      color: #ED0034;
    }
    hi {
      color: white;
    }
    body {
      background-image: url("../images/background-01.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
    .iconEdit  {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: stretch;
  }
  .center {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      align-content: stretch;
  }
  
  .icon {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: stretch;
  }
  
  .text {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: stretch;
      color: #ED0034;
  }